# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media/
static/

# Python # 
*.py[cod] 
*$py.class 

# Environments 
.venv 

# local development settings
ecommerce/settings/local.py
ecommerce/settings/base.py
